<!DOCTYPE html>
<html>
<title>Welcome</title>
<body>


<h1 style="text-align:center">Welcome to my cats page!</h1>

<center><img src="cats2.jpg" alt="Cats" style="width:500px;height:228px;opacity:0.5;"></cent\
er>


<DIV style="float: left; width: 50%">
<h3 style="text-align:left">Cats are..</h3>
<p><pre>
The domestic cat[1][2] (Latin: Felis catus)
or the feral cat[2][4] (Latin: Felis silvestris catus)
is a small, typically furry, carnivorous mammal.
They are often called house cats when kept as indoor
pets or simply cats when there is no need to distinguish
them from other felids and felines.[6] Cats are often
valued by humans for companionship and for their ability
to hunt vermin. There are more than 70 cat breeds;
different associations proclaim different numbers
according to their standards.
<a href="https://en.wikipedia.org/wiki/Cat">Continue to WIKI</a> </\
pre></p>
</DIV>

<DIV style="float: left; width: 50%">

<h3 style="text-align:right;" >Fun Pictures/Videos</h3>


<p><pre>
<table><tr><td>
<img src="kittie1.jpg" alt="Cats" style="width:150px;height:150 8px;">
</td><td>
<img src="kittie3.jpg" alt="Cats" style="width:150px;height:150 8px;">
</td><td>
<img src="kittie2.jpg" alt="Cats" style="width:150px;height:150 8px;">
</td><td>
<embed width="150" height="100" src="https://www.youtube.com/embed/JuRcoUBuRDE"</embed>

</td></tr>
</table>
</pre></p>
</br></br>
</DIV>

<br><hr>
<center><footer>

  <p>Created by: Antigona</p>
  <p>Contact information: <a href="mailto:antigona@example.com">
  antigona@example.com</a>.</p>
</footer>
</center>

</body>
</html>





<%= link_to 'About', about_path %>
